<plugin name='ldap' version='0.7.1'>
  <author>Luke Daley</author>
  <authorEmail>ld@ldaley.com</authorEmail>
  <title>Adds easy to use LDAP connectivity</title>
  <description>Utilises Gldapo (http://gldapo.codehaus.org) to provide an object oriented LDAP interface</description>
  <documentation>http://grails.org/LDAP+Plugin</documentation>
  <resources />
</plugin>